name: flutter_dmzj
description: based on flutter_dmzj project

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
version: 1.2.1+201120

environment:
  sdk: ">=2.2.2 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

  # The following adds the Cupertino Icons font to your application.
  # Use with the CupertinoIcons class for iOS style icons.
  cupertino_icons: ^1.0.0
  flutter_spinkit: ^4.1.2+1
  # 透明图片占位
  transparent_image: ^1.0.0
  provider: ^4.3.2+2
  shared_preferences: ^0.5.12+2
  # 缓存图片
  cached_network_image: ^2.3.3
  event_bus: ^1.1.1
  carousel_slider: ^2.3.1
  common_utils: ^1.2.1
  webview_flutter: ^1.0.4
  photo_view: ^0.10.3
  extended_image: ^1.3.0
  fluttertoast: ^7.1.1
  sqflite: ^1.3.1+2
  url_launcher: ^5.7.5
  share: ^0.6.5+3
  flutter_easyrefresh: ^2.1.6
  html_unescape: ^1.0.2
  # 阅读界面电量监听
  battery: ^1.0.7
  # 阅读界面网络状态监听
  connectivity: ^2.0.0
  flutter_cache_manager: ^2.0.0
  screen: ^0.0.5
  path_provider: ^1.6.21
  preload_page_view: ^0.1.4
  package_info: ^0.4.3
  quick_actions: ^0.4.0+10
  update_app: ^0.1.5




dev_dependencies:
  flutter_test:
    sdk: flutter


# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  assets:
    - assets/

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages
